.jumbotron {
    background-color: white;
    margin-bottom: 0rem;
    padding: 2rem 0rem;
}

/**
 * sticky footer
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/**
* colors:
* - red: #a51e37
* - grey: #32414b
*   - grey2 (from logo): #808285
* - gold: #b4a069
*/
a, .btn-link {
    color: #a51e37;
}

a:hover, .btn-link:hover {
    color: #a51e37;
    /*text-decoration: none;*/
}

.bg-dark {
    background-color: #32414b !important;
}